force-app/main/default/flows/Address_City_District_State_and_Country_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Address_Fields</name>
        <label>Assign Address Fields</label>
        <locationX>488</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>$Record.CITY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivePincode.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivePincode.District__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.STATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivePincode.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COUNTRY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivePincode.Country__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>PincodeId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Active_Pincode__c}</expression>
    </formulas>
    <interviewLabel>Address City, District, State and Country Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address City, District, State and Country Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Pincode</name>
        <label>Get Active Pincode</label>
        <locationX>272</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Address_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PincodeId</elementReference>
            </value>
        </filters>
        <object>Active_Pincode__c</object>
        <outputReference>ActivePincode</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>District__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>106</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Active_Pincode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Pincode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AddressBook__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivePincode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Active_Pincode__c</objectType>
    </variables>
</Flow>
