force-app/main/default/flows/Address_Process_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_10_A2</name>
        <label>Uncheck Is Primary</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <actionName>UpdateCustomerBillingAddressHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_10_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AddressId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerId</name>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Update Pincode in Text From lookup</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Pincode in Text From lookup</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Update Pincode in Text From lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>Check Is Primary to be True</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check Is Primary to be True</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>TRUE_Check Is Primary to be True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Check Is Primary to be False</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check Is Primary to be False</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Check Is Primary to be False</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>Check if address fields are updated</label>
        <locationX>182</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>myRule_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check if address fields are updated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Updated_AWS_Sync_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>TRUE_Check if address fields are updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_18</name>
        <label>Check if address is added to a customer</label>
        <locationX>182</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>myRule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check if address is added to a customer</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>TRUE_Check if address is added to a customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20</name>
        <label>If Address is NEW default Dealer Type.</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_If Address is NEW default Dealer Type.</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>TRUE_If Address is NEW default Dealer Type.</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>If Address is NEW default Dealer Type to Unreg</label>
        <locationX>182</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>myRule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_If Address is NEW default Dealer Type to Unreg</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_If Address is NEW default Dealer Type to Unreg</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24</name>
        <label>GSTIN is Unregistered</label>
        <locationX>182</locationX>
        <locationY>3959</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_GSTIN is Unregistered</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>TRUE_GSTIN is Unregistered</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>GSTIN contains value</label>
        <locationX>182</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>myRule_28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_GSTIN contains value</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>TRUE_GSTIN contains value</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_28</name>
        <label>Is Legacy Record is unchecked</label>
        <locationX>182</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>myRule_30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Legacy Record is unchecked</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legacy_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>TRUE_Is Legacy Record is unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_30</name>
        <label>Check if Address Identifier is null</label>
        <locationX>182</locationX>
        <locationY>4967</locationY>
        <defaultConnectorLabel>FALSE_Check if Address Identifier is null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KARZAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Your_Address_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>TRUE_Check if Address Identifier is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Update Address Name</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Address Name</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PINCODE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADDRESS1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CITY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_Update Address Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>Update Customer&apos;s Account number</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Customer&apos;s Account number</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_Update Customer&apos;s Account number</label>
        </rules>
    </decisions>
    <description>Migrated from the Address Process process using multiple criteria.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A1_6017601967</name>
        <dataType>String</dataType>
        <expression>{!$Record.Active_Pincode__r.Pincodes__c }</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_4_A2_5921852028</name>
        <dataType>String</dataType>
        <expression>{!$Record.CITY__c }+&apos;-&apos;+{!$Record.PINCODE__c }+&apos;-&apos;+TEXT(VALUE({!$Record.Address_Number__c }))</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_4_A1_4955554887</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Active_Pincode__r.Name +&apos;},&apos;+{!$Record.ADDRESS1__c +&apos;}, &apos;+{!$Record.ADDRESS2__c +&apos;},&apos;+{!$Record.CITY__c },80)</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_10_A1_6710286712</name>
        <dataType>String</dataType>
        <expression>{!$Record.ADDRESS1__c }+ {!$Record.ADDRESS2__c }</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() || ISCHANGED({!$Record.Active_Pincode__c })) &amp;&amp; (NOT(ISBLANK({!$Record.Active_Pincode__c })))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>AND(  OR( ISNEW() ,  (PRIORVALUE({!$Record.Is_Primary__c }) &lt;&gt; ({!$Record.Is_Primary__c})) )   ,  
({!$Record.Is_Primary__c  = True }),{!$Record.Is_Uploaded__c =false})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>((PRIORVALUE({!$Record.Is_Primary__c }) &lt;&gt; {!$Record.Is_Primary__c})) &amp;&amp; ({!$Record.Is_Primary__c  = False }&amp;&amp; {!$Record.Is_Multiple_Address__c = FALSE} &amp;&amp; {!$Record.Is_Uploaded__c =false})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_20</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {!$Record.Is_Uploaded__c =False} &amp;&amp; {!$Record.Customer__r.GST_Registered__c =True} &amp;&amp; ISBLANK(TEXT({!$Record.Dealer_Type__c}) )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;  {!$Record.Is_Uploaded__c =False} &amp;&amp; {!$Record.Customer__r.GST_Registered__c =False} &amp;&amp; ISBLANK(TEXT({!$Record.Dealer_Type__c}) )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!$Record.Customer__r.GST_Registered__c =False} &amp;&amp; ISBLANK({!$Record.GSTIN__c}),
TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_26</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!$Record.Customer__r.GST_Registered__c =True} &amp;&amp; NOT(ISBLANK({!$Record.GSTIN__c})),
TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()||ISCHANGED({!$Record.Customer__c })) &amp;&amp; NOT(ISBLANK({!$Record.Customer__c}))</expression>
    </formulas>
    <label>Address Process_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_10_A1</name>
        <label>Update Customer Billing Address</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.CITY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.COUNTRY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PINCODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.STATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>formula_4_myRule_10_A1_6710286712</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Primary_Address_Present__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_10_A3</name>
        <label>Update Primary Address on Customer</label>
        <locationX>50</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>myRule_15</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Address__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Update Customer Billing Address</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Primary_Address_Present__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>update primary address</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>myRule_10</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Address__c</field>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A1</name>
        <label>Update Updated_AWS_Sync_Status</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>myRule_18</targetReference>
        </connector>
        <inputAssignments>
            <field>Updated_AWS_Sync_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_18_A1</name>
        <label>Update HasAddress in the customer object</label>
        <locationX>50</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>myRule_20</targetReference>
        </connector>
        <inputAssignments>
            <field>HasAddress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Pincode in Text From lookup</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Pincode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PINCODE__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_6017601967</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_20_A1</name>
        <label>Update Dealer Type to Regular</label>
        <locationX>50</locationX>
        <locationY>3407</locationY>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
        <inputAssignments>
            <field>Dealer_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A1</name>
        <label>Update Dealer Type to Unregistered</label>
        <locationX>50</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>myRule_24</targetReference>
        </connector>
        <inputAssignments>
            <field>Dealer_Type__c</field>
            <value>
                <stringValue>Unregistered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_24_A1</name>
        <label>update GST reg status</label>
        <locationX>50</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>myRule_26</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GST_Registered_Status__c</field>
            <value>
                <stringValue>Unregistered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_26_A1</name>
        <label>update gst reg status</label>
        <locationX>50</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>myRule_28</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GST_Registered_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_28_A1</name>
        <label>update BVC Site Id</label>
        <locationX>50</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>myRule_30</targetReference>
        </connector>
        <inputAssignments>
            <field>BVC_Site_ID__c</field>
            <value>
                <elementReference>$Record.Address_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_30_A1</name>
        <label>Update Address Identifier</label>
        <locationX>50</locationX>
        <locationY>5087</locationY>
        <inputAssignments>
            <field>Your_Address_Identifier__c</field>
            <value>
                <elementReference>$Record.Address_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Update Address NAme</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_3_myRule_4_A1_4955554887</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A2</name>
        <label>Update Oracle Site Name</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>myRule_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Legacy_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Oracle_Site_Name__c</field>
            <value>
                <elementReference>formula_2_myRule_4_A2_5921852028</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A1</name>
        <label>Copy Account Number From Customer to Address</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>myRule_8_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Number__c</field>
            <value>
                <elementReference>$Record.Customer__r.Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A2</name>
        <label>Update the Trade Name</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TRADE_NAME__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TRADE_NAME__c</field>
            <value>
                <elementReference>$Record.Customer__r.Name_As_Per_PAN_Manual_Input__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>AddressBook__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
