force-app/main/default/flows/Annexture_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <actionName>c:AnnextureContract</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_Contract_for_navi_0.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Navigation</name>
        <label>Check Navigation</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigate_to_Annexure_Contract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigation</targetReference>
            </connector>
            <label>if true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_ieSHIP_OR_iValSHIP</name>
        <label>Check Product (ieSHIP OR iValSHIP)</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ieSHIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ieSHIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Quote_Line_0</targetReference>
            </connector>
            <label>ieSHIP</label>
        </rules>
        <rules>
            <name>iValSHIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iValSHIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Quote_Line_0_0</targetReference>
            </connector>
            <label>iValSHIP</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tariff_Plan2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tariff_Plan__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>close_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Start_Date}, {!Contract_Term_months})</expression>
    </formulas>
    <interviewLabel>Annexture Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annexture Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deal_0</name>
        <label>Create Deal</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>oppId</assignRecordIdToReference>
        <connector>
            <targetReference>create_quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contract.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorised_Signatory_People__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Authorised_Signatory_People__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BVC_Product__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.BVC_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Deal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Inbound Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tariff_Plan__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Tariff_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>iSHIP_Sub_Category__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.iSHIP_Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ieSHIP_Location__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.ieSHIP_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>create_quote</name>
        <label>create quote</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Annexure_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>BVC_Service__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.BVC_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <stringValue>Non ACR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Signed_Date__c</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ivalship_Product_Sub_Category__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Contract.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <stringValue>01s5g00000Kgm7eAAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>iEship_Sub_Category__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.iSHIP_Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ieSHIP_Location__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.ieSHIP_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ivalship_Location__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Quote_Line_0</name>
        <label>create Quote Line</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>quoteLineId</assignRecordIdToReference>
        <connector>
            <targetReference>update_Quote_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__ChargeType__c</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <stringValue>01u5g000005GIfZAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.BVC_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionPricing__c</field>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionType__c</field>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Quote_Line_0_0</name>
        <label>create Quote Line</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>quoteLineId</assignRecordIdToReference>
        <connector>
            <targetReference>update_Quote_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__ChargeType__c</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <stringValue>01u5g000005GIgZAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.BVC_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionPricing__c</field>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionType__c</field>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Deal_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contract_for_navi_0</name>
        <label>get Contract for navi</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Annexure_Contract_to_Old_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Map_Annexure_Contract_to_Old_Contract</name>
        <label>Map Annexure Contract to Old Contract</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Check_Navigation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annexure_Contract__c</field>
            <value>
                <elementReference>get_Contract_for_navi_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Contract</name>
        <label>update Contract</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>get_Contract_for_navi_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <stringValue>Non ACR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Contract_Term_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Quote_stage</name>
        <label>update Quote stage</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>update_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Annexure_Contract</name>
        <label>Annexure Contract</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Save</backButtonLabel>
        <connector>
            <targetReference>Check_Product_ieSHIP_OR_iValSHIP</targetReference>
        </connector>
        <fields>
            <name>Annexure_Contract_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Annexure_Contract_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tariff_Plan</name>
                    <choiceReferences>Tariff_Plan2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Tariff_Plan__c</elementReference>
                    </defaultValue>
                    <fieldText>Tariff Plan</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Annexure_Contract_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contract_Term_months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>36.0</numberValue>
                    </defaultValue>
                    <fieldText>Contract Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Navigate_to_Annexure_Contract</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Navigate to Annexure Contract</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>file_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tariff_Plan2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Custom</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
