force-app/main/default/flows/AssignedPickupTo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>PU_REC.Pickup_Assigned_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Sub</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_Creation_for_New_PickupAssigned_To</name>
        <label>Task Creation for New PickupAssigned To</label>
        <locationX>1898</locationX>
        <locationY>1871</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>PU_REC_01.Pickup_Assigned_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Sub</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_Creation_for_New_PickupAssigned_To_New_One</name>
        <label>Task Creation for New PickupAssigned To New One</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Pickup_Assigned_To__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Sub</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Pickup_Route_Assigned_To</name>
        <label>Assign Pickup Route Assigned To</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>PU_REC.Pickup_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBook11.Pickup_Route_Number__r.Pickup_Route_Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PU_REC.Pickup_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PickUp_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pickup_Route_Number</name>
        <label>Assign Pickup Route Number</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>PU_REC.Pickup_Route_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBook11.Pickup_Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Pickup_Assigned_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Route_Number</name>
        <label>Assign Route Number</label>
        <locationX>2228</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PU_REC_01.Pickup_Route_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Book.Pickup_Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_Assigned_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Assignment</name>
        <label>New Assignment</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>PU_REC_01.Pickup_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pickup_Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PickUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pickup_Assigned_To</name>
        <label>Update Pickup Assigned To</label>
        <locationX>2030</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>PU_REC_01.Pickup_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Book.Pickup_Route_Number__r.Pickup_Route_Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PU_REC.Pickup_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_New_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipment_Origin_Address</name>
        <label>Update Shipment Origin Address</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>shipment.Origin_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipper_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Address_Update</name>
        <label>Check for Address Update</label>
        <locationX>974</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipper_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Shipper_Address__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment_Origin_Address</targetReference>
            </connector>
            <label>Address Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Update</name>
        <label>Check for New Update</label>
        <locationX>2030</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_PickUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Changed_the_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Pickup_Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Assignment</targetReference>
            </connector>
            <label>If Changed the Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Old_one</name>
        <label>Check for Old one</label>
        <locationX>182</locationX>
        <locationY>1751</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Old_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PU_REC.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>No Old Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pickup_Assigned_To</name>
        <label>Check for Pickup Assigned To</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_PickUp_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Pickup_Assigned_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressBook11.Pickup_Route_Number__r.Pickup_Route_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Pickup_Route_Assigned_To</targetReference>
            </connector>
            <label>Have Pickup Assigned To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pickup_Route_Number</name>
        <label>Check for Pickup Route Number</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_Pickup_Route_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressBook11.Pickup_Route_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PU_REC</targetReference>
            </connector>
            <label>have Pickup Route Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Assigned_To</name>
        <label>Have Assigned To</label>
        <locationX>2228</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_to_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Book.Pickup_Route_Number__r.Pickup_Route_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Pickup_Assigned_To</targetReference>
            </connector>
            <label>Assigned to Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Route_Number</name>
        <label>Have Route Number</label>
        <locationX>2459</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Book.Pickup_Route_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Route_Number</targetReference>
            </connector>
            <label>Have Route</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Shipper_Address</name>
        <label>Have Shipper Address</label>
        <locationX>2294</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pickup_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Pickup_Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pickup_status</targetReference>
            </connector>
            <label>Pickup Changed</label>
        </rules>
        <rules>
            <name>Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipper_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Address_Book</targetReference>
            </connector>
            <label>Shipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Creation_Task</name>
        <label>New Creation Task</label>
        <locationX>2030</locationX>
        <locationY>1751</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PU_REC_01.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Task_Creation_for_New_PickupAssigned_To</targetReference>
            </connector>
            <label>new Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pick_Up_Assigned_is_Empty</name>
        <label>Pick Up Assigned is Empty</label>
        <locationX>1023</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAssigned_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>shipment</targetReference>
            </connector>
            <label>isAssigned Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pickup_Assigned_Not_Null</name>
        <label>Pickup Assigned Not Null</label>
        <locationX>677</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_for_Address_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Origin_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shipment.Origin_Address_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddressBook11</targetReference>
            </connector>
            <label>Origin Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipment_not_Null</name>
        <label>Shipment not Null</label>
        <locationX>2120</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Pick_Up_Assigned_is_Empty</targetReference>
            </connector>
            <label>Have Shipment</label>
        </rules>
        <rules>
            <name>pickup_assigned_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Pickup_Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Shipper_Address</targetReference>
            </connector>
            <label>pickup assigned changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AssignedPickupTo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignedPickupTo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Address_Book</name>
        <label>Address Book</label>
        <locationX>2459</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PU_REC_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipper_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AddressBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AddressBook11</name>
        <label>AddressBook11</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Pickup_Route_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shipment.Origin_Address_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AddressBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PU_REC</name>
        <label>PU_REC</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pickup_Route_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pickup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PU_REC_01</name>
        <label>PU_REC_01</label>
        <locationX>2459</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Route_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pickup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>shipment</name>
        <label>shipment</label>
        <locationX>677</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pickup_Assigned_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PickUp</name>
        <label>Update PickUp</label>
        <locationX>2030</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>New_Creation_Task</targetReference>
        </connector>
        <inputReference>PU_REC_01</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PickUp_Record</name>
        <label>Update PickUp Record</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Check_for_Old_one</targetReference>
        </connector>
        <inputReference>PU_REC</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_pickup_status</name>
        <label>update pickup status</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Task_Creation_for_New_PickupAssigned_To_New_One</targetReference>
        </connector>
        <inputAssignments>
            <field>Pickup_Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Shipment Address when Update Shipper Address on Shipment</description>
        <name>Update_Shipment</name>
        <label>Update Shipment</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <inputReference>shipment</inputReference>
    </recordUpdates>
    <start>
        <locationX>1994</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shipment_not_Null</targetReference>
        </connector>
        <object>Pickup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Owner:User.Name} &apos; is assigned to you.&apos;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NameId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PickUp {!$Record.Name} Assigned to You</text>
    </textTemplates>
    <textTemplates>
        <name>Task_Sub</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pickup Assigned to You with ID {!$Record.Pickup_Id__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Tasksubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;Pickup assigned to you with ID&apos; {!$Record.Pickup_Id__c}</text>
    </textTemplates>
    <variables>
        <name>Pickup_Assigned_To</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pickup_Route_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
