force-app/main/default/flows/CB_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Cnlinescount</name>
        <label>Cnlinescount</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Noofcreditnotelines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CreditNotelinescount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Noofcreditnotelines</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreditNoteLines</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reimbursement</name>
        <choiceText>Reimbursement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reimbursement</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>ChargeHeadListFromInvLines</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CB_CreditNote.blng__RelatedInvoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Round Off</stringValue>
            </value>
        </filters>
        <object>blng__InvoiceLine__c</object>
        <outputAssignments>
            <assignToReference>ChargeType</assignToReference>
            <field>BVC_CB_ChargeType__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CB Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CB Credit Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CreditNote_Line</name>
        <label>Create CreditNote Line</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>UpdatePlaceofSupplystate</targetReference>
        </connector>
        <inputAssignments>
            <field>BVC_CB_ChargeType__c</field>
            <value>
                <elementReference>ChargeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BVC_CB_ReceiptDate__c</field>
            <value>
                <elementReference>Receipt_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BVC_CB_ReceiptNo__c</field>
            <value>
                <elementReference>Receipt_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CGST_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CGST_Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COA_Revenue_Account_Code__c</field>
            <value>
                <elementReference>GetChargeHeadMetadata.COA_Revenue_Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COA_Revenue_Sub_Account__c</field>
            <value>
                <elementReference>GetChargeHeadMetadata.COA_Revenue_Sub_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Head_Code__c</field>
            <value>
                <elementReference>GetChargeHeadMetadata.Charge_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Head_Name__c</field>
            <value>
                <elementReference>ChargeHead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Head_Type__c</field>
            <value>
                <elementReference>ChargeHead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HSN_Code__c</field>
            <value>
                <stringValue>0000</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IGST_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IGST_Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Description__c</field>
            <value>
                <elementReference>ChargeHead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Number__c</field>
            <value>
                <elementReference>Noofcreditnotelines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SGST_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SGST_Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>CB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__CreditNoteLineDate__c</field>
            <value>
                <elementReference>Credit_Note_Line_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__CreditNote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Product__c</field>
            <value>
                <elementReference>Get_CB_CreditNote.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Subtotal__c</field>
            <value>
                <elementReference>SubTotal</elementReference>
            </value>
        </inputAssignments>
        <object>blng__CreditNoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CreditNotelinescount</name>
        <label>CreditNotelinescount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cnlinescount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__CreditNote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CB_CreditNote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__CreditNoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CB_CreditNote</name>
        <label>Get CB CreditNote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreditNotelinescount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__CreditNote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetChargeHeadMetadata</name>
        <label>GetChargeHeadMetadata</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CreditNote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Material_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargeHead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EY_Master_Data__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePlaceofSupplystate</name>
        <label>UpdatePlaceofSupplystate</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CB_CreditNote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Credit_Note_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Credit Note</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Place_Of_Supply_State__c</field>
            <value>
                <elementReference>Get_CB_CreditNote.blng__RelatedInvoice__r.Place_Of_Supply_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Supply_State_Code__c</field>
            <value>
                <elementReference>Get_CB_CreditNote.blng__RelatedInvoice__r.Place_Of_Supply_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>blng__CreditNote__c</object>
    </recordUpdates>
    <screens>
        <name>CreditNoteLines</name>
        <label>CreditNote Lines</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetChargeHeadMetadata</targetReference>
        </connector>
        <fields>
            <name>CreditNoteLines_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreditNoteLines_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CN_Name</name>
                    <fieldText>&lt;p&gt;{!Get_CB_CreditNote.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Product</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CB_CreditNote.Product__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Product</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreditNoteLines_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Note_Line_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Credit Note Line Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SubTotal</name>
                    <dataType>Currency</dataType>
                    <fieldText>SubTotal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreditNoteLines_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreditNoteLines_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Receipt_No</name>
                    <dataType>String</dataType>
                    <fieldText>Receipt No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreditNoteLines_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Receipt_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Receipt Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ChargeHead</name>
            <choiceReferences>ChargeHeadListFromInvLines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ChargeHead</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CB_CreditNote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Noofcreditnotelines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
