force-app/main/default/flows/Create_Shipment_Invoice_Flow_on_Shipment_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Payment_Record_to_List_0</name>
        <label>Assign Payment Record to List</label>
        <locationX>138</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>ListofPaymentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Payment_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pdf_to_Shipment_Invoice_0</name>
        <label>Assign Pdf to Shipment Invoice</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Attachment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Shipment_Invoice_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PDF_on_Shipment_Invoice_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_for_New_Payment_Record_0</name>
        <label>Assign Value for New Payment Record</label>
        <locationX>138</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Payment_Record_0.blng__Allocations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Invoice_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Payment_Record_0.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Payment_Record_0.blng__Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Payment_Record_0.blng__PaymentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Shipment_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Shipment_Invoice_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.RazorPay_PaymentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Payment_Record_0.RazorPayment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Payment_Record_to_List_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TDS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TDS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Invoice_PDF_New_0</name>
        <label>Check for Invoice PDF</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pdf_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Doc_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipment_Invoice_0</targetReference>
            </connector>
            <label>Pdf Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Invoice_URL_0</name>
        <label>Check for Invoice URL</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Doc_URL_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_PDF_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pdf_to_Shipment_Invoice_0</targetReference>
            </connector>
            <label>Invoice Doc URL Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_not_Equal_to_ACR_package</name>
        <label>Product not Equal to ACR package</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ACR_Package</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ACR_Package</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Record_of_CPQ_Invoice_0</targetReference>
            </connector>
            <label>Not ACR Package</label>
        </rules>
    </decisions>
    <description>copied from v6. also changing Amount field to Allocation Field for correct amount displayed on Shipment Invoice. adding product not equal to ACR.</description>
    <environments>Default</environments>
    <interviewLabel>Create Shipment Invoice Flow on Shipment Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Shipment Invoice Flow on Shipment Object</label>
    <loops>
        <name>Loop_for_Payment_Record_0</name>
        <label>Loop for Payment Record</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <collectionReference>Get_Payment_Record_of_CPQ_Invoice_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_for_New_Payment_Record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_on_Shipment_Invoice_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_on_Shipment_Invoice_0</name>
        <label>Create Payment on Shipment Invoice</label>
        <locationX>50</locationX>
        <locationY>1991</locationY>
        <inputReference>ListofPaymentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PDF_on_Shipment_Invoice_0</name>
        <label>Create PDF on Shipment Invoice</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Loop_for_Payment_Record_0</targetReference>
        </connector>
        <inputReference>Attachment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment_Invoice_0</name>
        <label>Create Shipment Invoice</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_for_Invoice_URL_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Balance_Amount_To_Be_Collected__c</field>
            <value>
                <elementReference>$Record.Actual_Payment_Collected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>$Record.blng__TotalAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.blng__InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Doc_URL__c</field>
            <value>
                <elementReference>$Record.Invoice_Doc_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Link__c</field>
            <value>
                <elementReference>$Record.Short_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>$Record.blng__Order__r.Shipment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TDS_Amount__c</field>
            <value>
                <elementReference>Get_Payment_Allocation_Record_0.blng__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_PDF_0</name>
        <label>Get Invoice PDF</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Invoice_PDF_New_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputReference>Attachment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>ContentType</queriedFields>
        <queriedFields>BodyLength</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Allocation_Record_0</name>
        <label>Get Payment Allocation Record</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_PDF_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TDS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__PaymentAllocationInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Allocation_Without_TDS_0</name>
        <label>Get Payment Allocation Without TDS</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Allocation_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__PaymentAllocationInvoice__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record_of_CPQ_Invoice_0</name>
        <label>Get Payment Record of CPQ Invoice</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Allocation_Without_TDS_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_not_Equal_to_ACR_package</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Doc_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BVC_Service__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BATH</stringValue>
            </value>
        </filters>
        <filters>
            <field>BVC_Service__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>eSHIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>BVC_CB_Is_CB_Invoice__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACR_Package</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ACR Package</stringValue>
        </value>
    </variables>
    <variables>
        <name>Attachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>ListofPaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>PaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ACR</stringValue>
        </value>
    </variables>
    <variables>
        <name>ShipmentInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment_Invoice__c</objectType>
    </variables>
    <variables>
        <name>TDSPaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
    <variables>
        <name>TDSPaymentRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
</Flow>
