force-app/main/default/flows/Create_Separate_Account_for_Community_Signed_Up_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Existing Account based on PAN Notification.</description>
        <name>Existing_Account_based_on_PAN_Notification</name>
        <label>Existing Account based on PAN Notification</label>
        <locationX>202</locationX>
        <locationY>387</locationY>
        <actionName>Contact.Email_Notification_to_Community_User_if_existing_found_based_on_PAN_provided</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Updated_Contact_for_Email_Notification</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Check If PAN Based Existing Account is NULL. If Null create new account and update account id on portal user&apos;s contact else update existing account id on portal user&apos;s contact.</description>
        <name>Check_If_PAN_Based_Existing_Account_is_NULL</name>
        <label>Check If PAN Based Existing Account is NULL</label>
        <locationX>717</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Existing_PAN_Based_Account_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PAN_Based_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Parent_Record_Type</targetReference>
            </connector>
            <label>Existing PAN Based Account Is Null</label>
        </rules>
        <rules>
            <name>Existing_PAN_Based_Account_Is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PAN_Based_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_PAN_Based_Account_Id_on_Portal_User_Contact</targetReference>
            </connector>
            <label>Existing PAN Based Account Is Not NULL</label>
        </rules>
    </decisions>
    <description>Create Separate Account for Community Signed Up User</description>
    <interviewLabel>Create Separate Account for Community Signed Up User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Separate Account for Community Signed Up User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new Account for Community Signed Up User</description>
        <name>Create_a_new_Account_for_Community_Signed_Up_User</name>
        <label>Create a new Account for Community Signed Up User</label>
        <locationX>926</locationX>
        <locationY>258</locationY>
        <assignRecordIdToReference>NewlyCreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_Id_On_Community_User_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_As_Per_PAN_Manual_Input__c</field>
            <value>
                <elementReference>$Record.Name_As_Per_Pan_Manual_Input__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Boarded_From_Community__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number_of_Entity__c</field>
            <value>
                <elementReference>$Record.PAN_Number_of_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Customer_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Customer_Parent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Get Current Contact Record</description>
        <name>Get_Current_Contact_Record</name>
        <label>Get Current Contact Record</label>
        <locationX>447</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Account_based_on_PAN_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Updated_Contact_for_Email_Notification</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Parent_Record_Type</name>
        <label>Get Customer Parent Record Type</label>
        <locationX>927</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_new_Account_for_Community_Signed_Up_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Account_Based_on_PAN</name>
        <label>Get Existing Account Based on PAN</label>
        <locationX>502</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_PAN_Based_Existing_Account_is_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PAN_Number_of_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PAN_Number_of_Entity__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PAN_Based_AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Account Id On Community User ContactId.</description>
        <name>Update_Account_Id_On_Community_User_Contact</name>
        <label>Update Account Id On Community User Contact</label>
        <locationX>926</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Update_Customer_People_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewlyCreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_People_Role</name>
        <label>Update Customer People Role</label>
        <locationX>905</locationX>
        <locationY>537</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Existing PAN Based Account Id on Portal User Contact</description>
        <name>Update_Existing_PAN_Based_Account_Id_on_Portal_User_Contact</name>
        <label>Update Existing PAN Based Account Id on Portal User Contact</label>
        <locationX>727</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Get_Current_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PAN_Based_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Account_Based_on_PAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account_Record_Based_on_USER_PAN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Newly Created Account Id</description>
        <name>NewlyCreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PAN_Based_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Updated_Contact_for_Email_Notification</description>
        <name>Updated_Contact_for_Email_Notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
