force-app/main/default/flows/Create_CB_ChareHeadsTaxes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>invoicelinescountassign</name>
        <label>invoicelinescountassign</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Invoicelinescount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetInvoicelines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoicelinescount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateChargeHeads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Tax_InvoiceLine</name>
        <label>Check for Tax InvoiceLine</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotTaxInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.BVC_CB_Invoice_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Tax Invoice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__TaxAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.BVC_CB_Is_CB_Invoice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Round Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEYMetadatarecords</targetReference>
            </connector>
            <label>IsNotTaxInvoice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create CB ChareHeadsTaxes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CB ChareHeadsTaxes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateChargeHeads</name>
        <label>CreateChargeHeads</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>BVC_CB_ChargeType__c</field>
            <value>
                <elementReference>$Record.BVC_CB_ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COA_Revenue_Account_Code__c</field>
            <value>
                <elementReference>GetEYMetadatarecords.COA_Revenue_Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COA_Revenue_Sub_Account__c</field>
            <value>
                <elementReference>GetEYMetadatarecords.COA_Revenue_Sub_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Head_Code__c</field>
            <value>
                <elementReference>GetEYMetadatarecords.Charge_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.blng__Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Number__c</field>
            <value>
                <elementReference>Invoicelinescount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Taxable_Value__c</field>
            <value>
                <elementReference>$Record.blng__TotalAmount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Charge_Head_Tax__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetEYMetadatarecords</name>
        <label>GetEYMetadatarecords</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoicelines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nature_Of_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EY_Master_Data__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoicelines</name>
        <label>GetInvoicelines</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invoicelinescountassign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Invoice__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Charge_Head_Tax__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Tax_InvoiceLine</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BVC_CB_ImportPreTaxBillID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>BVC_CB_ExportPreTaxBillID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>blng__InvoiceLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Invoicelinescount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
