force-app/main/default/flows/Create_Payments_Object_of_Shipment_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Payment_Details_0</name>
        <label>Assign Payment Details</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Allocations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__PaymentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.RazorPay_PaymentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Allocation_Record_0.RazorPay_PaymentId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.Invoice_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Payment_of_Shipment_Invoice_0.Shipment_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipment_Invoice_Record_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Record_on_Shipment_Invoice_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Record_For_SI_0_0</name>
        <label>Assign Payment Record For SI</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Allocations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__PaymentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.RazorPay_PaymentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RazorPayment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.Shipment_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipment_Invoice_Record_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.Invoice_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordforCreation.RazorPay_PaymentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Allocation_Record_0.RazorPay_PaymentId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Record_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Payment_Record_0</name>
        <label>Check for Payment Record</label>
        <locationX>545</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Invoice_Doc_URL_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Already_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_of_Shipment_Invoice_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Details_0</targetReference>
            </connector>
            <label>Payment Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Product_ACR_Package</name>
        <label>Check for Product ACR Package</label>
        <locationX>957</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ACR_Package</name>
            <conditionLogic>(1 AND 2 AND 4) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Product__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ACR_Package</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Product__r.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ACR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Business_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ACR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipment_Invoice_Record_0</targetReference>
            </connector>
            <label>Not ACR Package</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_TDS_Amount_0</name>
        <label>Check for TDS Amount</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_TDS_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Shipment_Invoice_Record_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment_Invoice_update_0</targetReference>
            </connector>
            <label>If TDS exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_TDS_Amount_Creation_0_0</name>
        <label>Check for TDS Amount</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_TDS_exists_create_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Shipment_Invoice_Record_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment_Invoice_0_0</targetReference>
            </connector>
            <label>IF TDS exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Doc_URL_0</name>
        <label>Check Invoice Doc URL</label>
        <locationX>908</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Invoice_Doc_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Record_For_SI_0_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>adding allocation amount for Prod which was not in UAT Adding Product should not be ACR Package.</description>
    <environments>Default</environments>
    <interviewLabel>Create Payments Object of Shipment Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payments Object of Shipment Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Record_0_0</name>
        <label>Create Payment Record</label>
        <locationX>710</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Check_for_TDS_Amount_Creation_0_0</targetReference>
        </connector>
        <inputReference>PaymentRecordforCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Allocation_Record_0</name>
        <label>Get Payment Allocation Record</label>
        <locationX>545</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_of_Shipment_Invoice_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__PaymentAllocationInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_of_Shipment_Invoice_0</name>
        <label>Get Payment of Shipment Invoice</label>
        <locationX>545</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Payment_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TDS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Invoice_Record_0</name>
        <label>Get Shipment Invoice Record</label>
        <locationX>545</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Allocation_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Invoice__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Record_on_Shipment_Invoice_0</name>
        <label>Update Payment Record on Shipment Invoice</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_for_TDS_Amount_0</targetReference>
        </connector>
        <inputReference>Get_Payment_of_Shipment_Invoice_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment_Invoice_0_0</name>
        <label>Update Shipment Invoice</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Invoice_Record_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TDS_Amount__c</field>
            <value>
                <elementReference>$Record.blng__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment_Invoice_update_0</name>
        <label>Update Shipment Invoice</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Invoice_Record_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TDS_Amount__c</field>
            <value>
                <elementReference>$Record.blng__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Product_ACR_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__PaymentType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TDS</stringValue>
            </value>
        </filters>
        <object>blng__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ACR</stringValue>
        </value>
    </variables>
    <variables>
        <name>ACR_Package</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ACR Package</stringValue>
        </value>
    </variables>
    <variables>
        <name>PaymentObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>PaymentRecordforCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>PaymentsObject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>ShipmentInvoiceUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment_Invoice__c</objectType>
    </variables>
</Flow>
