force-app/main/default/flows/ECS_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_ECSS_record</name>
        <label>Check for ECSS record</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>monthly_or_dayly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ext_Contact_Shipment_Summaryrecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ECS</targetReference>
            </connector>
            <label>If exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>monthly_or_dayly</name>
        <label>monthly or daily</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Creat_ECSS_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Contract__r.Monthly_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creat_ECSS_0</targetReference>
            </connector>
            <label>if monthly</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Shipment_Date__c}) , MONTH({!$Record.Shipment_Date__c}) + 1, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>Start_Date</name>
        <dataType>Date</dataType>
        <expression>Date(year({!$Record.Shipment_Date__c}),month({!$Record.Shipment_Date__c}),01)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>ECS After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECS After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creat_ECSS_0</name>
        <label>Creat ECSS</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>ECSS_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_ECS_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Creation_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.External_Contract__r.Customer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Contract__c</field>
            <value>
                <elementReference>$Record.External_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Type__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <object>External_Contract_Shipment_Summary__c</object>
    </recordCreates>
    <recordCreates>
        <name>Creat_ECSS_0_0</name>
        <label>Creat ECSS</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>ECSS_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_ECS_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Creation_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.External_Contract__r.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Contract__c</field>
            <value>
                <elementReference>$Record.External_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Type__c</field>
            <value>
                <stringValue>Daily</stringValue>
            </value>
        </inputAssignments>
        <object>External_Contract_Shipment_Summary__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Ext_Contact_Shipment_Summaryrecord</name>
        <label>Get Ext Contact Shipment Summary record</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_ECSS_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Shipment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Shipment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lock_this_summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>External_Contract_Shipment_Summary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer__c</queriedFields>
        <queriedFields>External_Contract__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ECS</name>
        <label>Update ECS</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Shipment_Summary__c</field>
            <value>
                <elementReference>Get_Ext_Contact_Shipment_Summaryrecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ECS_0</name>
        <label>Update ECS</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Shipment_Summary__c</field>
            <value>
                <elementReference>ECSS_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ext_Contact_Shipment_Summaryrecord</targetReference>
        </connector>
        <object>External_Contract_Shipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ECSS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
