force-app/main/default/flows/Email_to_Hub_Managers_for_Shipment_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Destination_Hub_Manager</name>
        <label>Send Email to Destination Hub Manager</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailIDsDestinationHubMngr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipment Status</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Origin_Hub_Managers_0_0</name>
        <label>Send Email to Origin Hub Managers</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_Destination_Hub_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipment Status</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Destination_Hub_Manager_Email_IDs</name>
        <label>Destination Hub Manager Email IDs</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>emailIDsDestinationHubMngr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Through_Destination_Hub_managers.Sales_Person__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Destination_Hub_managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hub_Manager_Email_0_0</name>
        <label>Hub Manager Email</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_through_Origin_Hub_Managers_0_0.Sales_Person__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_Origin_Hub_Managers_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Hub_Empolyee</name>
        <label>Check For Hub Empolyee</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Origin_Hub_Managers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Destination_Hub_Managers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_through_Origin_Hub_Managers_0_0</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <description>v33 removing custom setting</description>
    <formulas>
        <name>DestinationHubManagers</name>
        <dataType>String</dataType>
        <expression>{!$Record.Destination_Hub_Manager__r.Email}</expression>
    </formulas>
    <formulas>
        <name>Origin_Hub_Managers</name>
        <dataType>String</dataType>
        <expression>{!$Record.Origin_Hub_Manager__r.Email}</expression>
    </formulas>
    <interviewLabel>Email to Hub Managers for Shipment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Hub Managers for Shipment Status</label>
    <loops>
        <name>Iterate_Through_Destination_Hub_managers</name>
        <label>Iterate Through Destination Hub managers</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <collectionReference>get_Destination_Hub_Managers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Destination_Hub_Manager_Email_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_to_Origin_Hub_Managers_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_through_Origin_Hub_Managers_0_0</name>
        <label>iterate through Origin Hub Managers</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>get_Origin_Hub_Managers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Hub_Manager_Email_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Through_Destination_Hub_managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Destination_Hub_Managers</name>
        <label>get Destination Hub Managers</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Hub_Empolyee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hub__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Hub__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSE_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Origin_Hub_Managers</name>
        <label>get Origin Hub Managers</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Destination_Hub_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hub__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origin_Hub__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSE_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Origin_Hub_Managers</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Instruction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tracking_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Dear Sir/Madam,﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Payment for Shipment {!$Record.Name} with Shipping Note Number {!$Record.Shipping_Note_Number__c} dated {!$Record.Shipment_Date__c} &lt;/span&gt;&lt;span style=&quot;color: rgb(27, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;to be collected from either the Shipper or the Consignee before delivery.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;The other details are as follows-&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Product Description- {!$Record.Product_Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Shipment Value- {!$Record.Shipment_Value__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Billing Account- {!$Record.Billing_Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Shipper Account- {!$Record.Shipper_Name_TMS__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Shipper PAN- {!$Record.Shipper_Name_TMS__r.PAN_Number_of_Entity__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Consignee Account- {!$Record.Consignee_Name_TMS__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Consignee PAN- {!$Record.Consignee_Name_TMS__r.PAN_Number_of_Entity__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Origin Address City- {!$Record.Origin_Address_City__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Destination Address City- {!$Record.Destination_Address_City__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Origin Hub- {!$Record.Origin_Hub__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 26, 26);&quot;&gt;Destination Hub- {!$Record.Destination_Hub__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Regards,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;BVC Team&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Shipment {!$Record.Shipping_Note_Number__c} Status&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailIDsDestinationHubMngr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noemail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSE_Sales__c</objectType>
    </variables>
    <variables>
        <name>noemail2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
