force-app/main/default/flows/GenerationOfInvoiceForBath.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddtoNonACROPlist</name>
        <label>AddtoNonACROPlist</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>NonACROPList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateEachNonACROP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateEachNonACROP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateBillingHold</name>
        <label>updateBillingHold</label>
        <locationX>1458</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>iterateEachNonACROP.blng__HoldBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterateEachNonACROP.blng__InvoiceGroupId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterateEachNonACROP.Order_Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterateEachNonACROP.blng__InvoiceGrouping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Group ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoNonACROPlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOPForBill</name>
        <label>UpdateOPForBill</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getOrderProduct.blng__HoldBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrderProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAllCondition</name>
        <label>CheckAllCondition</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Invoiceable</name>
            <conditionLogic>1 AND 2  AND (3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BATH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSHIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOrderProduct</targetReference>
            </connector>
            <label>Is Invoiceable</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessType</name>
        <label>CheckBusinessType</label>
        <locationX>1568</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAllCondition</targetReference>
            </connector>
            <label>Is ACR</label>
        </rules>
        <rules>
            <name>Is_Non_ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non ACR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNonACRINvoiceable</targetReference>
            </connector>
            <label>Is Non ACR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNonACROPSize</name>
        <label>CheckNonACROPSize</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNonACROP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNonACROrderProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateEachNonACROP</targetReference>
            </connector>
            <label>IsNonACROP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Billing_Frequency</name>
        <label>Customer Billing Frequency</label>
        <locationX>1370</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bill_now</targetReference>
            </connector>
            <label>Shipment</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Invoice_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BATH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_for_weekly</targetReference>
            </connector>
            <label>Bath Weekly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Invoice_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BATH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_Monthly</targetReference>
            </connector>
            <label>Bath Monthly</label>
        </rules>
        <rules>
            <name>invoice_batch_from_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Invoice_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>as_per_customer</targetReference>
            </connector>
            <label>invoice batch from customer</label>
        </rules>
        <rules>
            <name>Eship_Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSHIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceBatch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateWeeklyEshipInvoice</targetReference>
            </connector>
            <label>Eship Weekly</label>
        </rules>
        <rules>
            <name>Eship_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSHIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceBatch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EshipMonthlyINvoice</targetReference>
            </connector>
            <label>Eship Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNonACRINvoiceable</name>
        <label>IsNonACRINvoiceable</label>
        <locationX>2294</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonACRInvoiceable</name>
            <conditionLogic>(1 OR 4 )  AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment__r.Customer_Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BATH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipment__r.Customer_Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSHIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNonACROrderProduct</targetReference>
            </connector>
            <label>NonACRInvoiceable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GenerationOfInvoiceForBath {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerationOfInvoiceForBath</label>
    <loops>
        <name>iterateEachNonACROP</name>
        <label>iterateEachNonACROP</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <collectionReference>GetNonACROrderProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateBillingHold</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateNONACROPtobill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNonACROrderProduct</name>
        <label>GetNonACROrderProduct</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNonACROPSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderProduct</name>
        <label>getOrderProduct</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOPForBill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>as_per_customer</name>
        <label>as per customer</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__InvoiceBatch__c</field>
            <value>
                <elementReference>$Record.Account.Invoice_Batch__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Bill_now</name>
        <label>Bill now</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>createInvoice</name>
        <label>createInvoice</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EshipMonthlyINvoice</name>
        <label>EshipMonthlyINvoice</label>
        <locationX>1898</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__InvoiceBatch__c</field>
            <value>
                <stringValue>Eship Non-ACR Monthly Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>for_Monthly</name>
        <label>for Monthly</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__InvoiceBatch__c</field>
            <value>
                <stringValue>Bath Non-ACR Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Invoice_for_weekly</name>
        <label>Invoice for weekly</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__InvoiceBatch__c</field>
            <value>
                <stringValue>Bath Non-ACR Weekly</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNONACROPtobill</name>
        <label>UpdateNONACROPtobill</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Customer_Billing_Frequency</targetReference>
        </connector>
        <inputReference>NonACROPList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderProduct</name>
        <label>updateOrderProduct</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>createInvoice</targetReference>
        </connector>
        <inputReference>getOrderProduct</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWeeklyEshipInvoice</name>
        <label>updateWeeklyEshipInvoice</label>
        <locationX>1634</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>blng__InvoiceBatch__c</field>
            <value>
                <stringValue>Eship Non-ACR Weekly Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBusinessType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NonACROPList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
