force-app/main/default/flows/Map_BATH_eSHIP_ACR_Contract_on_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_BATH_eSHIP</name>
        <label>Check BATH/eSHIP</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BATH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BATH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_old_Contract_Status_BATH</targetReference>
            </connector>
            <label>BATH</label>
        </rules>
        <rules>
            <name>eSHIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BVC_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSHIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_old_Contract_Status_eSHIP</targetReference>
            </connector>
            <label>eSHIP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Map BATH/eSHIP ACR Contract on Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map BATH/eSHIP ACR Contract on Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Map_ACR_Contract_on_Customer_for_BATH</name>
        <label>Map ACR Contract on Customer for BATH</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BATH_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Map_ACR_Contract_on_Customer_for_eSHIP</name>
        <label>Map ACR Contract on Customer for eSHIP</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>eSHIP_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_Contract_Status_BATH</name>
        <label>Update old Contract Status BATH</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Map_ACR_Contract_on_Customer_for_BATH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BVC_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BATH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_Contract_Status_eSHIP</name>
        <label>Update old Contract Status eSHIP</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Map_ACR_Contract_on_Customer_for_eSHIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BVC_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eSHIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_BATH_eSHIP</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>BVC_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BATH</stringValue>
            </value>
        </filters>
        <filters>
            <field>BVC_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eSHIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
