force-app/main/default/flows/Mark_as_Bot_form_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Account_Exist_Check</name>
        <label>Account_Exist_Check</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Mark_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsplus__Related_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Account Exist YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mark as Bot form Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark as Bot form Completed v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Completed</name>
        <label>Mark Completed</label>
        <locationX>264</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdateMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMessage</name>
        <label>Update Message</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsplus__Bot_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsplus__Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rsplus__To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsplus__Bot_Element__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a4f5g000000LG3fAAG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>rsplus__Bot_element_reply_status__c</field>
            <value>
                <stringValue>No Next Levels</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Exist_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsplus__Answer_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Book Pickup</stringValue>
            </value>
        </filters>
        <filters>
            <field>rsplus__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>rsplus__Bot_Form__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
