force-app/main/default/flows/Pickup_Assigned_To_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>GetBranch</name>
        <label>GetBranch</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>BranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hub.Branch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UserList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_BVC_HUB</name>
        <label>Check for BVC HUB</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_BVC_Origin_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pickup.BVC_Origin_Hub__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Hub</targetReference>
            </connector>
            <label>have BVC Origin Hub</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PickUpAssignedTo</name>
        <collectionReference>UserList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Pickup Assigned To Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pickup Assigned To Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Hub</name>
        <label>Hub</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pickup.BVC_Origin_Hub__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hub__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pickup</name>
        <label>Pickup</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_BVC_HUB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>REC_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pickup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserList</name>
        <label>UserList</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PickUp_Assigned_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hub.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pickup</name>
        <label>Update Pickup</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pickup.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pickup_Assigned_To__c</field>
            <value>
                <elementReference>PickUpAssignedTo</elementReference>
            </value>
        </inputAssignments>
        <object>Pickup__c</object>
    </recordUpdates>
    <screens>
        <name>PickUp_Assigned_To</name>
        <label>PickUp Assigned To</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Pickup</targetReference>
        </connector>
        <fields>
            <name>Pickup_Assigned_To1</name>
            <choiceReferences>PickUpAssignedTo</choiceReferences>
            <defaultValue>
                <elementReference>Pickup.Pickup_Assigned_To__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pickup Assigned To</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pickup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
