force-app/main/default/flows/Pickup_Share_for_Visag_Hub_Creating_using_External.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Collect_user_Ids</name>
        <label>Collect user Ids</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipmentLoop.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShipmentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_C</name>
        <label>Count C</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>C</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SM_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declare_C</name>
        <label>Declare C</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>C</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SM_Share</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_C</name>
        <label>Check for C</label>
        <locationX>490</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>User_Id_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_found_any_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Pickup_to_User</targetReference>
            </connector>
            <label>Not found any Share</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_shipments</name>
        <label>Check for shipments</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Shipments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shipments</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ShipmentLoop</targetReference>
            </connector>
            <label>Have Shipments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_Id_on_Pickup_Share</name>
        <label>Check for User Id on Pickup Share</label>
        <locationX>710</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>SM_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SM_Share.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_C</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Visag_Hub</name>
        <label>Check for Visag Hub</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Visag_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BVC_Origin_Hub__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIZAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>shipments</targetReference>
            </connector>
            <label>If Visag Hub</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pickup Share for Visag Hub Creating using External {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pickup Share for Visag Hub Creating using External</label>
    <loops>
        <name>ShipmentLoop</name>
        <label>ShipmentLoop</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>shipments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_user_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PK_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SM_Share</name>
        <label>SM Share</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <collectionReference>PK_Share</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_User_Id_on_Pickup_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_C</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>User_Id_Loop</name>
        <label>User Id Loop</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <collectionReference>UserIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Declare_C</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Pickup_to_User</name>
        <label>Share Pickup to User</label>
        <locationX>358</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>User_Id_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>User_Id_Loop</elementReference>
            </value>
        </inputAssignments>
        <object>Pickup__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>PK_Share</name>
        <label>PK Share</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Id_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pickup__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>shipments</name>
        <label>shipments</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_shipments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Visag_Hub</targetReference>
        </connector>
        <object>Pickup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>C</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
