force-app/main/default/flows/Reschedule_pickup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_if_reschedule_pickup_is_true</name>
        <label>check if reschedule pickup is true</label>
        <locationX>468</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>check_reschedule_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reschedule_pickup_is_true_and_assigned_to_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reschedule_Pickup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Times_Rescheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pickup_assigned_to_the_empty_string</targetReference>
            </connector>
            <label>Reschedule pickup is true and assigned to is not empty</label>
        </rules>
        <rules>
            <name>reschedule_is_true_and_pickup_assigned_to_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reschedule_Pickup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Times_Rescheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_reschedule_checkbox</targetReference>
            </connector>
            <label>reschedule is true and pickup assigned to is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_pickup_assigned_to_is_not_empty</name>
        <label>check pickup assigned to is not empty</label>
        <locationX>468</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>check_if_reschedule_pickup_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pickup_assigned_to_is_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_assigned_date_and_time</targetReference>
            </connector>
            <label>pickup assigned to is update</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reschedule_is_true</name>
        <label>check reschedule is true</label>
        <locationX>468</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rescheduled_pickup_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reschedule_Pickup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_number_of_times_reschedule_field</targetReference>
            </connector>
            <label>Rescheduled pickup true</label>
        </rules>
    </decisions>
    <decisions>
        <description>if pickup status is create then update related shipments tracking status to create</description>
        <name>if_pickup_status_is_create</name>
        <label>if pickup status is create</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>check_reschedule_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pickup_status_is_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pickup_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_shipment_status_to_create</targetReference>
            </connector>
            <label>pickup status is create</label>
        </rules>
    </decisions>
    <decisions>
        <name>when_pickup_assigned_to_not_empty</name>
        <label>when pickup assigned to not empty</label>
        <locationX>270</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pickup_assigned_to_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Times_Rescheduled__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pickup_reassigned_time</targetReference>
            </connector>
            <label>pickup assigned to not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>count</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_Times_Rescheduled__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fault_message</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Reschedule pickup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule pickup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_update_number_of_times_reschedule_field</name>
        <label>Copy 1 of update number of times reschedule field</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>when_pickup_assigned_to_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Times_Rescheduled__c</field>
            <value>
                <elementReference>count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_assigned_date_and_time</name>
        <label>update assigned date and time</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>check_if_reschedule_pickup_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pickup_Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_Times_Rescheduled__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Date_and_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Pickup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_pickup_assigned_to_the_empty_string</name>
        <label>update pickup assigned to the empty string</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>if_pickup_status_is_create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pickup_Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pickup_Assigned_To__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Reassigned_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Pickup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_pickup_reassigned_time</name>
        <label>update pickup reassigned time</label>
        <locationX>138</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Times_Rescheduled__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Pickup_Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pickup_Reassigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_reschedule_checkbox</name>
        <label>update reschedule checkbox</label>
        <locationX>490</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>check_reschedule_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pickup_Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pickup_Reassigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Reschedule__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reschedule_Pickup__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_shipment_status_to_create</name>
        <label>update shipment status to create</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>check_reschedule_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracking_Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_pickup_assigned_to_is_not_empty</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pickup_Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Date_and_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reschedule_Pickup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pickup__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Numbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
</Flow>
