force-app/main/default/flows/Scheduled_ACR_Consumption_file_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_customer</name>
        <label>Send email to customer</label>
        <locationX>138</locationX>
        <locationY>1332</locationY>
        <actionName>Account.ACR_consumption_email_with_public_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>account_loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>account_loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>calling apex calss</description>
        <name>Send_Report_Attachement</name>
        <label>Send_Report_Attachement</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <actionName>Send_Report_Attachement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_content_document_link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Account1</name>
            <value>
                <elementReference>account_loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>test1</name>
        <label>test1</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>accId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>account_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Report_Attachement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_content_version</name>
        <label>check content version</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>account_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_content_version_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_content_document_link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_content_document_link.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_content_document</targetReference>
            </connector>
            <label>if content version is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5th_day</name>
        <label>5th day?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X5th_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_account_id</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>This flow send consumption details to the customer on 5th day of every month</description>
    <environments>Default</environments>
    <interviewLabel>Scheduled ACR Consumption file Emai {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled ACR Consumption file Email</label>
    <loops>
        <name>account_loop</name>
        <label>account loop</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>get_account_id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>test1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_account_id</name>
        <label>get account id</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>account_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Category_Static__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0015g00000vGbgtAAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_content_distribution_url</name>
        <label>get content distribution url</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_public_link_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_content_document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_content_document</name>
        <label>get content document</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_content_distribution_url</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_content_document_link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_content_document_link</name>
        <label>get content document link</label>
        <locationX>270</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_content_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_public_link_field</name>
        <label>Update public link field</label>
        <locationX>138</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Send_email_to_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACR_consumption_link__c</field>
            <value>
                <elementReference>get_content_distribution_url.ContentDownloadUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>link_generated_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X5th_day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a6B0T0000005CKNUA2</stringValue>
            </value>
        </filters>
        <object>Trigger__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-01</startDate>
            <startTime>18:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllACRAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
