force-app/main/default/flows/Send_invoice_pdf_and_payment_link_on_whatsapp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>message_bucket_collector</name>
        <label>message_bucket_collector</label>
        <locationX>363</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>message_buckets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>message_bucket_instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_contacts_of_customer_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_bucket_instances</name>
        <label>Message bucket instance</label>
        <locationX>363</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WHATSAPP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Sender_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+918652633645</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_contacts_of_customer_record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Template_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>T0022</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__File_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_dynamic_template_record.rsplus__File_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message_bucket_instance.rsplus__Media_Json__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_dynamic_template_record.rsplus__Media_Json__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>message_bucket_collector</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_customer_phone_field_is_not_null</name>
        <label>check customer phone field is not null</label>
        <locationX>275</locationX>
        <locationY>1584</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>customer_number_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.customer_phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_message_bucket_for_customer</targetReference>
            </connector>
            <label>customer number is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_dynamic_template</name>
        <label>check dynamic template and invoice record fields</label>
        <locationX>473</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_fields_of_template_and_invoice_are_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_dynamic_template_record.rsplus__File_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Short_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ST_Invoice_Series__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_contacts_of_customer_record</targetReference>
            </connector>
            <label>check fields of template and invoice are not blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MediaUrlJSON</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;viewfileurl&quot;:null,&quot;url&quot;:&quot;&apos;+{!$Record.Invoice_PDF__c}+&apos;&quot;,&quot;internalUrl&quot;:null,&quot;hid&quot;:null,&quot;filesize&quot;:&quot;745&quot;,&quot;filename&quot;:&quot;PDF&quot;,&quot;eDmsId&quot;:null,&quot;ContentType&quot;:&quot;pdf&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>Send invoice pdf and payment link on whatsapp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send invoice pdf and payment link on whatsapp</label>
    <loops>
        <name>loop_over_contacts_of_customer_record</name>
        <label>loop over contacts of customer record</label>
        <locationX>275</locationX>
        <locationY>1008</locationY>
        <collectionReference>get_contacts_related_to_the_customer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Message_bucket_instances</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_message_bucket_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_message_bucket_for_customer</name>
        <label>create message bucket for customer</label>
        <locationX>143</locationX>
        <locationY>1704</locationY>
        <inputAssignments>
            <field>rsplus__Channel__c</field>
            <value>
                <stringValue>WHATSAPP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__File_Id__c</field>
            <value>
                <elementReference>get_dynamic_template_record.rsplus__File_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Media_Json__c</field>
            <value>
                <elementReference>get_dynamic_template_record.rsplus__Media_Json__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>$Record.customer_phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>+918652633645</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_message_bucket_records</name>
        <label>create message bucket records</label>
        <locationX>275</locationX>
        <locationY>1464</locationY>
        <connector>
            <targetReference>check_customer_phone_field_is_not_null</targetReference>
        </connector>
        <inputReference>message_buckets</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get contacts related to the customer to send whatsapp message</description>
        <name>get_contacts_related_to_the_customer</name>
        <label>get contacts related to the customer</label>
        <locationX>473</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_dynamic_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_content_document_link_record</name>
        <label>get content document link record</label>
        <locationX>473</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_content_document_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_content_document_record</name>
        <label>get content document record</label>
        <locationX>473</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_dynamic_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_content_document_link_record.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_dynamic_template_record</name>
        <label>get dynamic template record</label>
        <locationX>473</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contacts_related_to_the_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T0022</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rsplus__RSP_Templates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_dynamic_template</name>
        <label>update dynamic template</label>
        <locationX>473</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>get_dynamic_template_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T0022</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>rsplus__File_Id__c</field>
            <value>
                <elementReference>get_content_document_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>rsplus__RSP_Templates__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Short_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_content_document_after_2_min</name>
            <connector>
                <targetReference>get_content_document_link_record</targetReference>
            </connector>
            <label>Run content document after 4 min</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ACK_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>message_bucket_instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsplus__SMS_Bucket__c</objectType>
    </variables>
    <variables>
        <name>message_buckets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsplus__SMS_Bucket__c</objectType>
    </variables>
</Flow>
