force-app/main/default/flows/Set_Tracking_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Secure_Bag_Count</name>
        <label>Secure Bag Count</label>
        <locationX>128</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>BagCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Secure_Bags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bag_count_greater_than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bag_count_greater_than_0</name>
        <label>Bag count greater than 0</label>
        <locationX>290</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>compare_bag_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BagCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment</targetReference>
            </connector>
            <label>compare bag count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Tracking Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Tracking Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Secure_Bags</name>
        <label>Secure Bags</label>
        <locationX>128</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Secure_Bag_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Scan_Loction__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Secure_Bag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment</name>
        <label>Update Shipment</label>
        <locationX>654</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracking_Status__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
    </recordUpdates>
    <start>
        <locationX>293</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Secure_Bags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Shipment_Tracking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>tracking_status_update</name>
            <label>tracking status update</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
