force-app/main/default/flows/Shipment_Sharing_Delhi_Chandni_Chowk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_For_Delhi_Chandni_Chowk</name>
        <label>Check For Delhi Chandni Chowk</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Chandni_Chowk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANDNI CHOWK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHANDNI CHOWK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Delhi</targetReference>
            </connector>
            <label>Have Chandni Chowk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delhi_Chandni_Chowk_Owner</name>
        <label>Delhi Chandni Chowk Owner</label>
        <locationX>226</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Share_To_Delhi_Chandni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Delhi_Member_as_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delhi_Chandni_Chowk.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delhi_Chandni_Chowk</targetReference>
            </connector>
            <label>Have Delhi Member as Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment Sharing Delhi Chandni Chowk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Sharing Delhi Chandni Chowk</label>
    <loops>
        <name>Delhi_Chandni_Chowk</name>
        <label>Delhi Chandni Chowk</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Delhi_Chandni_Chowk_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delhi_Chandni_Chowk_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_To_Delhi_Chandni</name>
        <label>Share To Delhi Chandni</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Delhi_Chandni_Chowk</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Delhi_Chandni_Chowk.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Delhi_Chandni_Chowk_Member</name>
        <label>Delhi Chandni Chowk Member</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delhi_Chandni_Chowk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Have_Delhi.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Have_Delhi</name>
        <label>Have Delhi</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delhi_Chandni_Chowk_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DELHI - Chandni Chowk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Delhi_Chandni_Chowk</targetReference>
        </connector>
        <object>Shipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
