force-app/main/default/flows/Shipment_on_Hold_When_Customer_is_on_Hold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Shipment_Delivery_Instruction</name>
        <label>Update Shipment Delivery Instruction</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Update_Shipment_List.Delivery_Instruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateShipmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Shipment_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipment_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Shipment_Record</name>
        <label>Check Shipment Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_list_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment_List</targetReference>
            </connector>
            <label>Shipment list is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Shipment on Hold When Customer is on Hold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment on Hold When Customer is on Hold</label>
    <loops>
        <name>Update_Shipment_List</name>
        <label>Update Shipment List</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Shipment_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Shipment_Delivery_Instruction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Delivery_Instruction_on_shipment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Shipment_Record</name>
        <label>Shipment Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Shipment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracking_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Instruction__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Instruction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Delivery_Instruction_on_shipment</name>
        <label>Update Delivery Instruction on shipment</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>UpdateShipmentList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shipment_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Shipment_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
    <variables>
        <name>ShipmentListtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
    <variables>
        <name>TEMP_SHIPMENT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
    <variables>
        <name>UpdateShipmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
</Flow>
