force-app/main/default/flows/Shipment_Tracking_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Origin_and_Destination_Hub</name>
        <label>Check for Origin and Destination Hub</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Have_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin_Hub__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Destination_Hub__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Destination Hub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Track1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_for_Destination_Point</targetReference>
            </connector>
            <label>Both Have Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment Tracking After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Tracking After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tracking_Record_for_Destination_Point</name>
        <label>Create Tracking Record for Destination Point</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Act_Delivery_Date__c</field>
            <value>
                <elementReference>Track1.Act_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport__c</field>
            <value>
                <elementReference>Track1.Airport__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BVC_Vehicle__c</field>
            <value>
                <elementReference>Track1.BVC_Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Delivery_Date__c</field>
            <value>
                <elementReference>Track1.Est_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hub__c</field>
            <value>
                <elementReference>Track1.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Destination Hub</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scan_Time__c</field>
            <value>
                <elementReference>Track1.Scan_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Note_No__c</field>
            <value>
                <elementReference>Track1.Shipping_Note_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaults__c</field>
            <value>
                <elementReference>Track1.Vaults__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Track1</name>
        <label>Track1</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Origin_and_Destination_Hub</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Origin Hub</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Track1</targetReference>
        </connector>
        <object>Shipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
