force-app/main/default/flows/Shipment_Sharing_Srinagar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_For_Shrinagar</name>
        <label>Check For Shrinagar</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Shrinagar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRINAGAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRINAGAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Srinagar_Group</targetReference>
            </connector>
            <label>Have_Shrinagar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Srinagar_Member_as_Owner</name>
        <label>Srinagar Member as Owner</label>
        <locationX>226</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Share_to_Srinagar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Srinagar_Member_as_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Srinagar_Loop.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Srinagar_Loop</targetReference>
            </connector>
            <label>Have Srinagar Member as Owner</label>
        </rules>
    </decisions>
    <description>Used to Share records for Srinagar Users</description>
    <environments>Default</environments>
    <interviewLabel>Shipment Sharing Srinagar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Sharing Srinagar</label>
    <loops>
        <name>Srinagar_Loop</name>
        <label>Srinagar Loop</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Srinagar_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Srinagar_Member_as_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_to_Srinagar</name>
        <label>Share to Srinagar</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Srinagar_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Srinagar_Loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Srinagar_Group</name>
        <label>Srinagar Group</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Srinagar_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SRINAGAR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Srinagar_Group_Member</name>
        <label>Srinagar Group Member</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Srinagar_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Srinagar_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Shrinagar</targetReference>
        </connector>
        <object>Shipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
