force-app/main/default/flows/Shipment_Pickup_Update_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>if shipment is created same day with same Shipper  Account &amp; Origin Address</description>
        <name>Assign_Old_Shipment_Pickup_to_New_Shipment</name>
        <label>Assign Old Shipment Pickup to New Shipment</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pickup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldShip.Pickup__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Old_Shipment</name>
        <label>Check for Old Shipment</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Old_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldShip</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Shipment_Pickup_to_New_Shipment</targetReference>
            </connector>
            <label>Have Old Shipment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment Pickup Update Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Pickup Update Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OldShip</name>
        <label>OldShip</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Old_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipper_Name_TMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipper_Name_TMS__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin_Address_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Origin_Address_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OldShip</targetReference>
        </connector>
        <object>Shipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
