force-app/main/default/flows/ShipmentPODURLS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment1</name>
        <label>assignment1</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>allUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_the_Urls</name>
        <label>Collecting the Urls</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>allUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CVRec.VersionDataUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shipment_Assignment</name>
        <label>Shipment Assignment</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Shipment.POD_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allUrls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_shipment_rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_URLS</name>
        <label>Have URLS</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentVersion</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CDL</targetReference>
            </connector>
            <label>Have Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ShipmentPODURLS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ShipmentPODURLS</label>
    <loops>
        <name>CDL</name>
        <label>CDL</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>contentVersion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CVRec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Shipment_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>contentVersion</name>
        <label>contentVersion</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CVRec</name>
        <label>CVRec</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collecting_the_Urls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CDL.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shipment</name>
        <label>Shipment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_URLS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_shipment_rec</name>
        <label>update shipment rec</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Display_POD_URLS</targetReference>
        </connector>
        <inputReference>Shipment</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_POD_URLS</name>
        <label>Display POD URLS</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>shipmentPod</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 63, 22);&quot;&gt;Shipment POD Links:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Shipment.POD_Link__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>contentVersion</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allUrls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
