force-app/main/default/flows/Shipment_Share_to_Visag_Hub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Destination_Hub</name>
        <label>Check for Destination Hub</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Destination_Hub</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VISHAKHAPATNAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin_Hub__r.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VISHAKHAPATNAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visag_Hub_PG</targetReference>
            </connector>
            <label>Have Destination Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Hosur</name>
        <label>Check for Hosur</label>
        <locationX>226</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Share_to_Hosur_Hub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Hosur_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hosur_Hub_loop.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hosur_Hub_loop</targetReference>
            </connector>
            <label>Have Hosur Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Hosur_Destination_Hub</name>
        <label>Check for Hosur Destination Hub</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hosur_Hub</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Hub__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOSUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin_Hub__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOSUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HOSUR_Hub_PG</targetReference>
            </connector>
            <label>Hosur Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Vizag_Hub</name>
        <label>Check For Vizag Hub</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Share_to_Visag_Hub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Visag_Member_as_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VISAG_Users.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VISAG_Users</targetReference>
            </connector>
            <label>Have Visag Member as Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment Share to Visag Hub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Share to Visag Hub</label>
    <loops>
        <name>Hosur_Hub_loop</name>
        <label>Hosur Hub loop</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <collectionReference>Hosur_GM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Hosur</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>VISAG_Users</name>
        <label>VISAG Users</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <collectionReference>Visag_GM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Vizag_Hub</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Hosur_Destination_Hub</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_to_Hosur_Hub</name>
        <label>Share to Hosur Hub</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Hosur_Hub_loop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Hosur_Hub_loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_to_Visag_Hub</name>
        <label>Share to Visag Hub</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>VISAG_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VISAG_Users.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Hosur_GM</name>
        <label>Hosur GM</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hosur_Hub_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HOSUR_Hub_PG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HOSUR_Hub_PG</name>
        <label>HOSUR Hub PG</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hosur_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOSUR Hub</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Visag_GM</name>
        <label>Visag GM</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VISAG_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visag_Hub_PG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Visag_Hub_PG</name>
        <label>Visag Hub PG</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visag_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VIZAG Hub</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Destination_Hub</targetReference>
        </connector>
        <object>Shipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
