force-app/main/default/flows/Shipment_Share_Based_On_SB_Next_Destination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Collect_All_Shipment_Share_Ids</name>
        <label>Collect All Shipment Share Ids</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ALL_SH_SR_IDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SH_SHARE1.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SH_SHARE1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_User_Ids</name>
        <label>Collect All User Ids</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ALL_UIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>USER1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>USER1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Share_IDS</name>
        <label>Remove Share IDS</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>ALL_UIDS</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ALL_SH_SR_IDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SH</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Shipment Share Based On SB Next Destination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Share Based On SB Next Destination</label>
    <loops>
        <name>SH</name>
        <label>SH</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <collectionReference>ALL_UIDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_Shipment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>SH_SHARE1</name>
        <label>SH_SHARE1</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>ShipmentShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_All_Shipment_Share_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Share_IDS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>USER1</name>
        <label>USER1</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_All_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SH_SHARE1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Shipment</name>
        <label>Share Shipment</label>
        <locationX>264</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>SH</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SH</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Profile</name>
        <label>Profile</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations Office Executive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ShipmentShare</name>
        <label>ShipmentShare</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>USER1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShipmentShare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Hub__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Hub__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Secure_Bag__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ALL_SH_SR_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALL_UIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
