force-app/main/default/flows/TestSecureBagCurrentScanLocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_count_filter_record</name>
        <label>Copy 1 of count filter record</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_records_of_out_for_delivery</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_secure_bags</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter secure bags</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_filter_secure_bags_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_shipments_related_to_securebag</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_secure_bags_0.Current_Scan_Loction__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Out for Delivery</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_over_secure_bags_od_out_for_delivery</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_records_of_out_for_delivery</name>
        <label>check records of  out for delivery</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>loop_over_secure_bags_od_out_for_delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>secure_bags_out_for_delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_delivery_record</targetReference>
            </connector>
            <label>secure bags out for delivery</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TestSecureBagCurrentScanLocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestSecureBagCurrentScanLocation</label>
    <loops>
        <name>loop_over_secure_bags_od_out_for_delivery</name>
        <label>loop over secure bags od out for delivery</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>filter_secure_bags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_count_filter_record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_shipments_related_to_securebag</name>
        <label>get shipments related to securebag</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_secure_bags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Secure_Bag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_delivery_record</name>
        <label>update delivery record</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>loop_over_secure_bags_od_out_for_delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Delivery__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_shipments_related_to_securebag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracking_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_filter_secure_bags_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Secure_Bag__c</objectType>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
