force-app/main/default/flows/TMS_Delivery_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Delivery_Update_Shipment_Record</name>
        <label>Delivery - Update Shipment Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Actual_Delivery_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Delivered_To_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivered_To_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Delivered_To_Person_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Consignee_Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Tracking_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tracking_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipment</name>
        <label>Update Shipment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHIPMENTRECORD.Tracking_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tracking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delivery_Status_Accepted</name>
        <label>Delivery Status Accepted</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_equal_to_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment</targetReference>
            </connector>
            <label>Status is equal to Accepted</label>
        </rules>
        <rules>
            <name>Delivery_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Update_Shipment_Record</targetReference>
            </connector>
            <label>Delivery Status Delivered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TMS Delivery Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TMS Delivery Flow complete V4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tracking_Record</name>
        <label>Create Tracking Record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scan_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tracking</name>
        <label>Tracking</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Secure_Bag_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scan_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment__c</field>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputReference>SHIPMENTRECORD</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Secure_Bag_Status</name>
        <label>Update Secure Bag Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SHIPMENTRECORD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Scan_Loction__c</field>
            <value>
                <stringValue>Out for Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>Secure_Bag__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delivery_Status_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Delivery__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SHIPMENTRECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
</Flow>
