force-app/main/default/flows/TMS_Shipment_Created_before_Save_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>CB_Fields_Assignment</name>
        <label>CB Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000002BJMGAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exhibition__r.ST_Billing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.Point_Of_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.Point_Of_Contact_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_GSTIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.GSTIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Exhibition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exhibition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipper_Name_TMS__r.Point_Of_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Party_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Liability_Cover_By_BVC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiabilityCover</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fields_Assignment</name>
        <label>Fields Assignment</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g0000002aQgAAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exhibition__r.ST_Billing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.Point_Of_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.Point_Of_Contact_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Consignee_GSTIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consignee_Name_TMS__r.GSTIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Exhibition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exhibition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipper_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipper_Name_TMS__r.Point_Of_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Party_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Liability_Cover_By_BVC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiabilityCover</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fields_Assignment_0</name>
        <label>Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Destination_Hub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destination_Address_Name__r.Active_Pincode__r.Hub__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Pincode_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destination_Address_Name__r.Active_Pincode__r.Pincode_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destination_Address_Name__r.Active_Pincode__r.Online_Offline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CB_Shipment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fields_Assignment_0_0</name>
        <label>Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Hub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Origin_Address_Name__r.Active_Pincode__r.Hub__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Pincode_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Origin_Address_Name__r.Active_Pincode__r.Pincode_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Origin_Address_Name__r.Active_Pincode__r.Online_Offline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Origin_Address_Name__r.Active_Pincode__r.Hub__r.Billing_Entity_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Active_Pincode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_pincode</name>
        <label>Origin Check Active pincode</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Destination_Active_Pincode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Pincode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin_Address_Name__r.Active_Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_Assignment_0_0</targetReference>
            </connector>
            <label>Active Pincode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Destination_Active_Pincode</name>
        <label>Destination Active Pincode</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_CB_Shipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Destination_pincode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Address_Name__r.Active_Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_Assignment_0</targetReference>
            </connector>
            <label>Destination pincode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CB_Shipment</name>
        <label>Is CB Shipment</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Fields_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000002BJMGAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB_Fields_Assignment</targetReference>
            </connector>
            <label>CB Shipment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Bill_To_Account__r.ParentId})),{!$Record.Bill_To_Account__r.ParentId},{!$Record.Customer__c})</expression>
    </formulas>
    <formulas>
        <name>LiabilityCover</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL( {!$Record.Insurance_By__c}, &apos;BVC&apos;) , &apos;Yes&apos;, IF(OR(ISPICKVAL(  {!$Record.Insurance_By__c}, &apos;Customer&apos;),ISPICKVAL(  {!$Record.Insurance_By__c}, &apos;Shipper&apos;)) , &apos;No&apos;, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>TMS Shipment Created before Save Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TMS Shipment Created before Save Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Active_pincode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Product_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BATH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Product_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>eSHIP</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
