force-app/main/default/flows/Update_Shipping_Note_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Packaging_Record</name>
        <label>Assign Packaging Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PackagingRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipment_Label.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PackagingRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Packaging_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Shipping_Name</name>
        <label>Check Shipping Name ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Packaging_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment_Label</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Note_Number_0</targetReference>
            </connector>
            <label>Packaging is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Shipping Note Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Shipping Note Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipment_Label</name>
        <label>Get Shipment Label</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Shipping_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Digital__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Packaging__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secure Bag</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Secure_Packaging__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Packaging_Record</name>
        <label>Update Packaging Record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>PackagingRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Note_Number_0</name>
        <label>Update Shipping Note Number</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Assign_Packaging_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Shipping_Note_Number__c</field>
            <value>
                <elementReference>Get_Shipment_Label.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shipment_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipping_Note_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PackagingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Secure_Packaging__c</objectType>
    </variables>
    <variables>
        <name>ShippingLabelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
