force-app/main/default/flows/Update_Linehaul_from_Flight_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_Airline</name>
        <label>Check for Airline</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indigo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flight_Schedule.Airline_Name1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indigo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Linehaul_0</targetReference>
            </connector>
            <label>Indigo</label>
        </rules>
        <rules>
            <name>Spicejet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flight_Schedule.Airline_Name1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPICEJET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Linehaul_0_0</targetReference>
            </connector>
            <label>Spicejet</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Linehaul from Flight Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Linehaul from Flight Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Flight_Schedule</name>
        <label>Get Flight Schedule</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Airline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Flight_No_for_SpiceJet_Indigo__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flight_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Linehaul_0</name>
        <label>Update Linehaul</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consignee_Account_Code_Text__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Consignee_Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee_City_Text__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Consignee_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Code__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Flight_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Departure_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Destination__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Origin__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Schedule_Time_To_Departure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account_Code_Text__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Shipping_Account_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Text__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Shipping_Agent_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City_Text__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Linehaul_0_0</name>
        <label>Update Linehaul</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Code__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Destination__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Origin__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Schedule_Time_To_Departure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>Get_Flight_Schedule.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flight_Schedule</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Flight_No_for_SpiceJet_Indigo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flight_No_for_SpiceJet_Indigo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Linehaul__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
