force-app/main/default/flows/Update_Order_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assing_Non_ACR</name>
        <label>Assing Non ACR</label>
        <locationX>283</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>varBusinessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conNonACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_values</name>
        <label>assing values</label>
        <locationX>291</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varBusinessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conNonACR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Non_ACR</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Non_ACR_Format</name>
        <label>Non ACR Format</label>
        <locationX>50</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>assing_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_ACR_Cond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non ACR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Non_ACR</targetReference>
            </connector>
            <label>Non ACR Cond</label>
        </rules>
    </decisions>
    <interviewLabel>Update Order Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>540</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBusinessType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Record_Type</name>
        <label>Update Order Record Type</label>
        <locationX>721</locationX>
        <locationY>267</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>143</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Non_ACR_Format</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varACR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBusinessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNonACR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non_ACR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
